<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MTPsys.Properties.Settings.DatabaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database.mdb"
            providerName="System.Data.OleDb" />
        <add name="MTPsys.Properties.Settings.MTPConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MTP.mdb;Jet OLEDB:Database Password=sdip1507"
            providerName="System.Data.OleDb" />
        <add name="MTPsys.Properties.Settings.MTP1ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MTP1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>